<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toyota_beta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Toyota_beta.Properties.Settings>
            <setting name="cmb1" serializeAs="String">
                <value />
            </setting>
            <setting name="cmb2" serializeAs="String">
                <value />
            </setting>
            <setting name="cmb3" serializeAs="String">
                <value />
            </setting>
            <setting name="cmb4" serializeAs="String">
                <value />
            </setting>
            <setting name="tb1" serializeAs="String">
                <value />
            </setting>
            <setting name="tb1_2" serializeAs="String">
                <value />
            </setting>
            <setting name="tb2" serializeAs="String">
                <value />
            </setting>
            <setting name="tb2_2" serializeAs="String">
                <value />
            </setting>
            <setting name="chb1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chb2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chb3" serializeAs="String">
                <value>False</value>
            </setting>
        </Toyota_beta.Properties.Settings>
    </userSettings>
</configuration>